.banner {
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 24.5rem)) minmax(5rem, 1fr);
  height: 75vh;
  width: 100vw;

  &-content {
    width: 70%;
    grid-column: 2 / 10;
    align-self: center;
    margin-left: 5rem;

    @include respond(tab-port) { 
      width: 85%; 
    }

    .heading-primary {
      animation: moveInTop 2s ease;
    }
  }
}