.card {
  padding: 3rem;

  &:hover {
    background-color: $color-secondary;
  }

  &__link {
    display: grid;
    grid-template-columns: minmax(5rem, 5rem) minmax(300px, max-content);
    grid-template-rows: min-content min-content min-content;
    column-gap: 5rem;
    transition: all 0.4s ease-in-out;
  
    &:hover .tagline--sub {
      color: $color-primary;
    }
    &:hover .heading-tertiary {
      color: $color-primary;
    }
  
    &-thumbnail {
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }
}