.card {

  &__link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10rem 3rem 3rem;
    padding: 5rem 0;
    transition: all .4s ease-in-out;

    &:hover {
      background-color: $color-secondary;
    }
    &:hover .tagline--sub {
      color: $color-primary;
    }
    &:hover .heading-tertiary {
      color: $color-primary;
    }
  
    &-thumbnail {
      width: 25%;
      grid-column: 1;
      grid-row: 1 / -1;
      align-self: center;
      justify-self: center;
    }
  }
}