$color-primary:#FAFAFA;
$color-secondary: #242424;
$color-tertiary: #C39702;

$footer-color: #737373;
$footer-bg: #26272b;

$default-font: 2rem;

$primary-font: 7rem;
$secondary-font: 6rem;
$teriary-font: 4rem;