*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #FAFAFA;
}

.heading-primary {
  font-size: 7rem;
  color: #FAFAFA;
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 5rem;
  }
}

.heading-primary--main {
  display: block;
  padding-bottom: 5rem;
}

.heading-primary--sub {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-primary--sub {
    font-size: 2rem;
  }
}

.heading-secondary {
  color: #242424;
  font-size: 6rem;
}

.heading-tertiary {
  font-size: 4rem;
  color: #242424;
}

h6 {
  color: #FAFAFA;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
  letter-spacing: 2px;
}

.navigation__brand {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #C39702 !important;
}

.tagline {
  font-size: 2rem;
  display: block;
}

.tagline--main {
  font-weight: 700;
  color: #C39702;
}

.tagline--sub {
  font-weight: 300;
  color: #242424;
}

.card:hover.tagline {
  color: white;
}

.info {
  text-align: center;
  color: #242424;
}

.info__detail {
  display: block;
}

.info--title {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.info--spec {
  font-size: 6rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@media only screen and (max-width: 75em) {
  .info--spec {
    font-size: 4rem;
  }
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-md {
  margin-bottom: 5rem;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;
}

.u-margin-top-md {
  margin-top: 5rem;
}

.u-margin-top-lg {
  margin-top: 8rem;
}

.u-margin-top-xlg {
  margin-top: 10rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: black;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .3;
  -o-object-position: 50% 95%;
     object-position: 50% 95%;
}

.card__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 10rem 3rem 3rem;
      grid-template-rows: 10rem 3rem 3rem;
  padding: 5rem 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.card__link:hover {
  background-color: #242424;
}

.card__link:hover .tagline--sub {
  color: #FAFAFA;
}

.card__link:hover .heading-tertiary {
  color: #FAFAFA;
}

.card__link-thumbnail {
  width: 25%;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1 / -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.heading-tertiary, .tagline--main {
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.related-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2rem;
  justify-items: center;
  padding: 0 10rem;
}

@media only screen and (max-width: 56.25em) {
  .related-products {
    -ms-grid-columns: 50rem;
        grid-template-columns: 50rem;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[6];
      grid-template-rows: repeat(6, 5vw);
  grid-gap: 1.5rem;
  padding: 0 1.5rem;
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / span 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / span 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
}

.gallery__item--5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
}

.gallery__item--6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
  grid-column: 8 / -1;
}

.gallery__item--10 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  grid-column: 8 / -1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 1px solid #FAFAFA;
  letter-spacing: 3px;
  border-radius: 6px;
  background-color: #C39702;
  color: #FAFAFA;
  cursor: pointer;
}

.btn--rand {
  font-size: 2rem;
  padding: 1.5rem 8rem;
}

.btn--sort {
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.btn:hover {
  background-color: #D5B33F;
}

.btn:active, .btn:focus {
  outline: none;
  border: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.rand-gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem 0;
}

.banner {
  position: relative;
  z-index: -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 1fr) (minmax(min-content, 24.5rem))[10] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(-webkit-min-content, 24.5rem)) minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 24.5rem)) minmax(5rem, 1fr);
  height: 75vh;
  width: 100vw;
}

.banner__content {
  width: 70%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .banner__content {
    width: 85%;
  }
}

.banner__content .heading-primary {
  -webkit-animation: moveInTop 2s ease;
          animation: moveInTop 2s ease;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 1;
}

.navigation {
  padding: 1rem 5rem;
}

.navigation__menu {
  display: none;
  position: absolute;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 3;
    right: 5rem;
    top: 2rem;
  }
}

.navigation .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  padding-top: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .navigation .menu {
    display: none;
  }
}

.navigation .menu__item {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navigation .menu__item:not(:first-child) {
  padding: 0 0 0 11rem;
}

.navigation a.router-link-exact-active {
  color: #C39702;
}

.change_color {
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #242424;
  opacity: 1;
}

.invert a {
  color: #242424;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.invert svg {
  fill: black;
}

.close {
  display: none;
}

.section-footer {
  background-color: #26272b;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #737373;
  padding: 5rem 0 15rem;
  margin-top: auto;
}

.section-footer .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10rem;
  color: #737373;
}

.section-footer .footer a {
  color: #737373;
}

.section-footer .footer__about {
  padding-right: 15rem;
}

@media only screen and (max-width: 75em) {
  .section-footer .footer__about {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .section-footer .footer__about {
    grid-column: 1 / -1;
    justify-items: center;
    margin-bottom: 3rem;
  }
}

.section-footer .footer hr {
  opacity: .3;
  display: block;
  margin: 3rem auto;
  width: 100%;
  grid-column: 1 / -1;
}

.section-footer .footer__copyright {
  -ms-grid-column: 1;
  grid-column: 1;
}

@media only screen and (max-width: 56.25em) {
  .section-footer .footer__copyright {
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 3rem;
  }
}

.section-footer .footer__icons {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 56.25em) {
  .section-footer .footer__icons {
    grid-column: 1 / -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.section-footer .footer__icons .social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-align: center;
}

.section-footer .footer__icons .social-icons li {
  display: inline-block;
}

.section-footer .footer__icons .social-icons--facebook:hover {
  background-color: #3b5998;
  color: white;
}

.section-footer .footer__icons .social-icons--twitter:hover {
  background-color: #00aced;
  color: white;
}

.section-footer .footer__icons .social-icons--linkedin:hover {
  background-color: #007bb6;
  color: white;
}

.section-footer .footer__icons .social-icons--dribbble:hover {
  background-color: #ea4c89;
  color: white;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #C39702;
}

.sidebar {
  background-color: #FAFAFA;
  -webkit-box-shadow: -8px 8px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 8px 20px -10px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  display: none;
}

.sidebar__menu {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.sidebar__menu li {
  padding: 4rem;
}

.sidebar__menu a {
  color: #242424;
  font-size: 2.5rem;
}

.sidebar__menu a:hover {
  color: #C39702;
}

.open {
  display: block;
  position: absolute;
  z-index: 2;
  -webkit-transition: ease-in .4s;
  transition: ease-in .4s;
  width: 40rem;
  height: 90rem;
}

.section-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 1fr) (minmax(min-content, 15rem))[10] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(-webkit-min-content, 15rem)) minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 15rem)) minmax(5rem, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-products .heading-secondary {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 2rem;
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .section-products .heading-secondary {
    font-size: 4rem;
  }
}

.section-products .sort-container {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .filter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
}

.filter .search {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0 2rem;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(40rem, 50rem) minmax(40rem, 50rem);
      grid-template-columns: minmax(40rem, 50rem) minmax(40rem, 50rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2rem 10rem;
  justify-items: center;
}

@media only screen and (max-width: 56.25em) {
  .products {
    -ms-grid-columns: 60rem;
        grid-template-columns: 60rem;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #242424;
}

.pagination .page {
  margin: 0 1rem;
  font-size: 1.4rem;
}

.pagination span {
  color: #C39702;
  font-size: 1.2rem;
}

.pagination a {
  color: #242424;
}

.data-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: red;
  font-size: 10rem;
}

.details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 1fr) (minmax(min-content, 24.5rem))[10] minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(-webkit-min-content, 24.5rem)) minmax(5rem, 1fr);
      grid-template-columns: minmax(5rem, 1fr) repeat(10, minmax(min-content, 24.5rem)) minmax(5rem, 1fr);
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
}

.details__primary {
  height: 50vh;
  background-color: #242424;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 5rem;
  grid-column: 1 / -1;
}

.details__primary .heading-secondary {
  color: #FAFAFA;
}

.details__secondary {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr min-content min-content;
      grid-template-rows: 1fr -webkit-min-content -webkit-min-content;
      grid-template-rows: 1fr min-content min-content;
}

.details__secondary .description {
  grid-column: 1 / -1;
}

.details__secondary .specs {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details__image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  width: 20%;
  min-width: 60px;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -25rem;
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (40vw)[3];
      grid-template-rows: repeat(3, 40vw);
}

@media only screen and (max-width: 75em) {
  .category {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .category {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.category__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background-color: black;
  opacity: .7;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  position: relative;
}

.category__item:hover {
  opacity: 1;
}

.category__item:hover h4 {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.category__item h4 {
  font-size: 5rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FAFAFA;
  text-align: center;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.page-error {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 5rem 10rem;
}

.page-error h5 {
  position: absolute;
  z-index: 1;
  left: 65%;
  top: 22%;
}

.page-error h5 .main {
  font-size: 13rem;
  letter-spacing: 6px;
  display: block;
}

.page-error h5 .sub {
  font-size: 3rem;
}

.page-error__img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
}
/*# sourceMappingURL=global.css.map */